@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Gotham", Arial, Helvetica, sans-serif;
}

/* Add these styles */
.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
  font-size: 24px;
}

.thumbs-swiper .swiper-slide {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.thumbs-swiper .swiper-slide-thumb-active {
  opacity: 1;
}
